<!DOCTYPE html>
<html>
<head>

<title>Delete Book</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Delete Book</h1>

<form method="POST">

<input type="number"
       name="id"
       placeholder="Book ID"
       required>

<button type="submit">
Delete Book
</button>

</form>

<br>

<a href="/" class="menu-btn">
Back Home
</a>

</div>
<footer class="footer">
    &copy; www.anudip.org | All Rights Reserved
</footer>
</body>
</html>