<!DOCTYPE html>
<html>


    <head>
        <title>Delete Book</title>

        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        >
    </head>

    <body>

        <nav class="navbar">
            <div class="nav-brand">
                <img src="https://media.licdn.com/dms/image/v2/D560BAQEHjEFxVR5xuw/company-logo_200_200/B56Z1mStfDHoAI-/0/1775537675219?e=2147483647&v=beta&t=GtWsI8qY5ZNdaVx1h6QCo8TTsH4VkOEgyCH3mkutd10" alt="Logo" class="nav-logo">
                    <h2 class="nav-title">📚 AI Powered Book Management System</h2>
            </div>
    
            <div class="nav-links">
                <a href="/" class="nav-item home-highlight">🏠 Home</a>
                <a href="/add" class="nav-item">➕ Add</a>
                <a href="/view" class="nav-item">👁️ View</a>
                <a href="/search" class="nav-item">🔍 Search</a>
                <a href="/update" class="nav-item">✏️ Update</a>
                <a href="/delete" class="nav-item">🗑️ Delete</a>
                <a href="/recommend" class="nav-item">🤖 AI Recommend</a>
            </div>
        </nav>

        <div class="container">

            <h1>Delete Book</h1>

            <form method="POST">

                <input type="number" name="id" placeholder="Book ID" required>
        
                <details class="warning-box">
                    <summary class="menu-sp" style="background: #dc2626;">Delete Book</summary>

                    <div class="warning-content">
                        <p>⚠️ <b>Critical Warning:</b> Are you absolutely sure? This action cannot be undone.</p>
                        
                        <div style="display: flex; gap: 15px; margin-top: 15px;">
                            
                            <button type="submit" style="background: #dc2626; flex: 1; margin: 0;">
                                Yes, Delete
                            </button>
                            
                            <a href="/delete" class="menu-btn" style="background: #7998d7; flex: 1; margin: 0; text-decoration: none; line-height: 20px;">
                                No, Cancel
                            </a>
                    
                        </div>
                    </div>

                </details>

            </form>

        </div>

        <footer class="footer">
            &copy; <a href="https://anudip.org/" target="_blank">www.anudip.org</a> | All Rights Reserved 
            <br>Devs: Rupali Jain 💠 Sayar Sekhar Ghosh
        </footer>
        
    </body>

</html>