<!DOCTYPE html>
<html>
<head>
    <title>AI Book Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>📚 AI Powered Book Management System</h1>

    <a href="/add" class="menu-btn">
        Add Book
    </a>

    <a href="/view" class="menu-btn">
        View Books
    </a>

    <a href="/search" class="menu-btn">
        Search Book
    </a>

    <a href="/update" class="menu-btn">
        Update Book
    </a>

    <a href="/delete" class="menu-btn">
        Delete Book
    </a>

    <a href="/recommend" class="menu-btn">
        AI Book Recommendation
    </a>

</div>

<footer class="footer">
    &copy; www.anudip.org | All Rights Reserved
</footer>
</body>
</html>