<!DOCTYPE html>
<html>
    <head>
        <title>AI Recommendation</title>

        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        >
    </head>

    <body>

        <nav class="navbar">
            <div class="nav-brand">
                <img src="https://media.licdn.com/dms/image/v2/D560BAQEHjEFxVR5xuw/company-logo_200_200/B56Z1mStfDHoAI-/0/1775537675219?e=2147483647&v=beta&t=GtWsI8qY5ZNdaVx1h6QCo8TTsH4VkOEgyCH3mkutd10" alt="Logo" class="nav-logo">
                    <h2 class="nav-title">📚 AI Powered Book Management System</h2>
            </div>
    
            <div class="nav-links">
                <a href="/" class="nav-item home-highlight">🏠 Home</a>
                <a href="/add" class="nav-item">➕ Add</a>
                <a href="/view" class="nav-item">👁️ View</a>
                <a href="/search" class="nav-item">🔍 Search</a>
                <a href="/update" class="nav-item">✏️ Update</a>
                <a href="/delete" class="nav-item">🗑️ Delete</a>
                <a href="/recommend" class="nav-item">🤖 AI Recommend</a>
            </div>
        </nav>

        <div class="container">

            <h1>Get AI-Recommended books</h1>

            <form method="POST">

                <input type="text"
                    name="interest"
                    placeholder="Python, AI, Data Science, Java..."
                    required
                >

                <button type="submit">
                Get Recommendations
                </button>

            </form>

            {% if recommendation %}

            <hr>

            <h2>Recommended Books</h2>

            <pre class="ai-output">
            {{ recommendation }}
            </pre>

            {% endif %}

        </div>

        <footer class="footer">
            &copy; <a href="https://anudip.org/" target="_blank">www.anudip.org</a> | All Rights Reserved 
            <br>Devs: Rupali Jain 💠 Sayar Sekhar Ghosh
        </footer>
    </body>

</html>