<!DOCTYPE html>
<html>


    <head>
        <title>Search Book</title>

        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        >
    </head>

    <body>

        <nav class="navbar">
            <div class="nav-brand">
                <img src="https://media.licdn.com/dms/image/v2/D560BAQEHjEFxVR5xuw/company-logo_200_200/B56Z1mStfDHoAI-/0/1775537675219?e=2147483647&v=beta&t=GtWsI8qY5ZNdaVx1h6QCo8TTsH4VkOEgyCH3mkutd10" alt="Logo" class="nav-logo">
                    <h2 class="nav-title">📚 AI Powered Book Management System</h2>
            </div>
    
            <div class="nav-links">
                <a href="/" class="nav-item home-highlight">🏠 Home</a>
                <a href="/add" class="nav-item">➕ Add</a>
                <a href="/view" class="nav-item">👁️ View</a>
                <a href="/search" class="nav-item">🔍 Search</a>
                <a href="/update" class="nav-item">✏️ Update</a>
                <a href="/delete" class="nav-item">🗑️ Delete</a>
                <a href="/recommend" class="nav-item">🤖 AI Recommend</a>
            </div>
        </nav>

        <div class="container">

            <h1>Search Book</h1>

            <form method="POST">

                <input type="text"
                    name="title"
                    placeholder="Enter Book Title"
                    required
                >

                <button type="submit">
                Search
                </button>

            </form>

            {% if book %}

            <hr>

            <h3>Book Found</h3>

            <p><b>ID:</b> {{ book[0] }}</p>

            <p><b>Title:</b> {{ book[1] }}</p>

            <p><b>Author:</b> {{ book[2] }}</p>

            <p><b>Category:</b> {{ book[3] }}</p>

            <p><b>Created At:</b> {{ book[4] }}</p>

            <p><b>Updated At:</b> {{ book[5] }}</p>

            {% elif searched_title %}
            <hr>
            <h3>No book found with the name "{{ searched_title }}"</h3>

            {% endif %}

            <br>

            <a href="/" class="menu-btn">
            Back Home
            </a>

        </div>

        <footer class="footer">
            &copy; <a href="https://anudip.org/" target="_blank">www.anudip.org</a> | All Rights Reserved 
        </footer>

    </body>
</html>