<!DOCTYPE html>
<html>
    <head>
        <title>View Books</title>

        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        >
    </head>

    <body>

        <nav class="navbar">
            <div class="nav-brand">
                <img src="https://media.licdn.com/dms/image/v2/D560BAQEHjEFxVR5xuw/company-logo_200_200/B56Z1mStfDHoAI-/0/1775537675219?e=2147483647&v=beta&t=GtWsI8qY5ZNdaVx1h6QCo8TTsH4VkOEgyCH3mkutd10" alt="Logo" class="nav-logo">
                    <h2 class="nav-title">📚 AI Powered Book Management System</h2>
            </div>
    
            <div class="nav-links">
                <a href="/" class="nav-item home-highlight">🏠 Home</a>
                <a href="/add" class="nav-item">➕ Add</a>
                <a href="/view" class="nav-item">👁️ View</a>
                <a href="/search" class="nav-item">🔍 Search</a>
                <a href="/update" class="nav-item">✏️ Update</a>
                <a href="/delete" class="nav-item">🗑️ Delete</a>
                <a href="/recommend" class="nav-item">🤖 AI Recommend</a>
            </div>
        </nav>

        <div class="container">

            <h1>Book List</h1>

            <div style="text-align: center; margin-bottom: 20px;">
                <span style="background-color: #eef2ff; color: #4f46e5; padding: 6px 16px; border-radius: 20px; font-weight: bold; font-size: 15px; border: 1px solid #c7d2fe; display: inline-block;">
                    📊 Total Registered Books: {{ books|length }}
                </span>
            </div>

            <table>

                <tr>
                    <th>Sl. No.</th>
                    <!-- <th>ID</th> --> <!-- No need to show this broojken id-->
                    <th>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>

                {% for book in books %}

                <tr>
                    <td>{{ loop.index }}</td>
                    <!-- <td>{{ book[0] }}</td> -->
                    <td>{{ book[1] }}</td>
                    <td>{{ book[2] }}</td>
                    <td>{{ book[3] }}</td>
                    <td>{{ book[4] }}</td>
                    <td>{{ book[5] }}</td>
                </tr>

                {% endfor %}

            </table>

        </div>

        <footer class="footer">
            &copy; <a href="https://anudip.org/" target="_blank">www.anudip.org</a> | All Rights Reserved 
            <br>Devs: Rupali Jain 💠 Sayar Sekhar Ghosh
        </footer>

    </body>
    
</html>